*{
    margin:0;
    padding:0;
    font-family:Century 'MS Gothic';
}


header
{
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(234.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;
    
    
}



ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    font-size:20px;
}

ul li
{
    display:inline-block;
}

ul li a
{
    text-decoration:none;
    color:#fff;
    padding:10px 30px;
    border:1px solid transparent ;
    transition:0.6s ease;

}

ul li a:hover
{
    background-color:#fff;
    color:#000;
}

ul li.active a{
  background-color:#fff;
  color:#000;
}


h4 {
    color: #fff;
    font-size: 35px;
    position: absolute;
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
}


.main
{
    max-width:1200px;
    margin:auto;
}

.title
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

    .title h1 
{
    color: #fff;
    font-size: 120px;
}

    .title h2 {
        color: #fff;
        font-size: 40px;
        position: absolute;
        left: 10%;
        text-decoration:underline;
        font-family: 'Gloria Hallelujah', cursive;
    }

   

.firstdiv
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(exam.jpg);
    height: 110vh;
    background-size: cover;
    text-decoration:underline;
    background-position: center;
}

.firstdiv h5 
{
        color:#000;
        font-size: 50px;
        text-align:center;
        padding-top:300px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
}



.seconddiv {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(3.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center;
}



p {
    width:650px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top:220%;
    left: 50%;
    font-family: 'Gloria Hallelujah', cursive;
}





.thirddiv {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

    .thirddiv h7 {
        color: #fff;
        font-size: 45px;
        text-align: center;
        padding-top: 300px;
        float: right;
        font-family: 'Gloria Hallelujah', cursive;
    }
footer
{
    background-color:black;
    color:white;
    text-align:center;
}